<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Temperature Converter</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="converter">
    <h1>Temp Converter</h1>
    <form action="/convert" method="post">
      <input type="number" step="any" name="value" placeholder="Enter value" required>
      <select name="scale">
        <option value="c2f">°C to °F</option>
        <option value="f2c">°F to °C</option>
        <option value="k2c">°K to °C</option>
        <option value="c2k">°C to °K</option>
        <option value="k2f">°K to °F</option>
	<option value="f2k">°F to °K</option>
      </select>
      <button type="submit">Convert</button>
    </form>
    <div class="result">
      <p th:text="${result}"></p>
    </div>
  </div>
</body>
</html>
